* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Bodoni MT';
	background-color: black;
	color: white;
}

header {
	background-image: url("../slike/bg.jpg");
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 30%;
	background-size: 100%;
	background-repeat: no-repeat;
}

nav {
	display: flex;
    position: relative;
	width: 100%;
}

nav ul {
	list-style: none;
	text-align: center;
	align-items: center;
	width: 100%;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	text-decoration: none;
	color: white;
	margin: 2em;
	margin-top: 1em;
	font-size: 1.5em;
}

nav a:hover {
	color: #35C4F0;
	animation: glow 1s;
}

@keyframes glow {
  from {
    box-shadow: 0 0 3px -3px #35C4F0;
  }
  to {
    box-shadow: 0 0 3px 3px #35C4F0;
  }
}

.menu {
	width: 100%;
	display: none;
	position: fixed;
	font-size: 1.5em;
}

.rotate {
	transform: rotate(180deg);
}

.menu i {
	transition: transform .5s ease-out;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	padding: .5em;
	border: 2px solid #35C4F0;
	background: black;
}

.menu i:hover {
	color: #35C4F0;
	cursor: pointer;
}

main {
	margin: 1em;
}

h1 {
	text-align: center;
	font-family: 'Rubik Gemstones', cursive;
	font-size: 2em;
	font-weight: 100;
	letter-spacing: .5em;
	color: black;
	text-shadow: 2px 2px #35C4F0;
}

.rw {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
	grid-gap: 2em;
	margin-top: 2em;
	margin-bottom: 1em;
}

.col {
	width: 70%;
	height: 95%;
	box-shadow: 2px 2.5px 10px 3px #35C4F0;
	background-color: #0A0A0A;
	border-radius: 1em;
    margin: auto;
	margin-top: 1em;
	margin-bottom: 2em;
	transition: .5s ease;
}

.col h2 {
	text-transform: capitalize;
	text-align: center;
	padding: .5em;
	opacity: 0;
}

.col:hover {
	transform: scale(1.05);
	transition: .5s ease;
	cursor: pointer;
}

.col:hover h2 {
	opacity: 1;
	transition: 1.5s ease;
}

.col:hover p {
	opacity: 1;
	transition: 1.5s ease;
}

.col img {
	width: 100%;
}

.col p {
	padding: .5em;
	text-align: center;
	opacity: 0;
}

footer {
	left: 0;
	clear: both;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 1.2em;
	opacity: 93%;

}

footer li {
	list-style: none;
}

.row {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
	margin: 1em;
}

.column {
	width: 30%;
	padding: 1em;
	margin-left: 50%;
	transform: translate(-50%);

}

.column h4 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: .5em;
	padding-bottom: .2em;
	border-bottom: 2px solid #35C4F0;
}

.column ul {
	font-size: .9em;
	text-align: center;
}

.column li:hover {
	opacity: 50%;
	cursor: pointer;
} 

footer p {
	padding-bottom: 1em;
	font-size: .9em;
	font-weight: bold;
}

footer a {
	color: black;
	text-decoration: none;
}

footer i {
	margin: 2em;
}

footer i:hover {
	color: #35C4F0;
	cursor: pointer;
}

footer p.copy {
	width: 100%;
	color: white;
	background-color: black;
	padding: 1em;
}

@media only screen and (max-width: 480px) {	
	nav {
		width: 100%;
		background-color: rgba(114, 111, 111, 0.12);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5.6px);
		-webkit-backdrop-filter: blur(5.6px);
		border: 1px solid rgba(114, 111, 111, 0.14);
		border-radius: 1em;
		padding-top: .1em;
	}
	
	nav ul {
		display: none;
	}
	
	nav ul {
		position: relative;
		flex-direction: column;
		text-align: center;
		margin-top: 2em;
	}
	
	nav li {
		width: 100%;
	}
	
	nav a {
		padding-top: 1em;
		
	}
	
	nav a:hover {
		animation: block;
	}
	
	nav ul.active {
		display: flex;
	}
	
	footer a {
		margin: -1em;
	}
}

@media only screen and (max-width: 768px) {	
	nav {
		width: 100%;
		background-color: rgba(114, 111, 111, 0.12);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5.6px);
		-webkit-backdrop-filter: blur(5.6px);
		border: 1px solid rgba(114, 111, 111, 0.14);
		border-radius: 1em;
		padding-top: .1em;
	}
	
	nav ul {
		display: none;
	}
	
	nav ul {
		position: relative;
		flex-direction: column;
		text-align: center;
		margin-top: 2em;
	}
	
	nav li {
		width: 100%;
	}
	
	nav a {
		padding-top: 1em;
		
	}
	
	nav a:hover {
		animation: block;
	}
	
	nav ul.active {
		display: flex;
	}
	
	footer a {
		margin: -1em;
	}
}

@media only screen and (max-width: 1024px) {	
	.menu {
		display: flex;
		top: -.75em;
	}
	
	nav {
		width: 100%;
		background-color: rgba(114, 111, 111, 0.12);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5.6px);
		-webkit-backdrop-filter: blur(5.6px);
		border: 1px solid rgba(114, 111, 111, 0.14);
		border-radius: 1em;
		padding-top: .1em;
	}
	
	nav ul {
		display: none;
	}
	
	nav ul {
		position: relative;
		flex-direction: column;
		text-align: center;
		margin-top: 2em;
	}
	
	nav li {
		width: 100%;
	}
	
	nav a {
		padding-top: 1em;
		
	}
	
	nav a:hover {
		animation: block;
	}
	
	nav ul.active {
		display: flex;
	}
}